{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Glassmorphism Login</title>
  <link rel="stylesheet" href="{% static "style.css" %}">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
                <h1 class="opacity">LOGIN</h1>
                <form action="logindata" method="get">
                    <input type="text" name="username" placeholder="USERNAME" />
                    <input type="password" name="pswd" placeholder="PASSWORD" />
                    <button class="opacity" name="submit" value="Submit">SUBMIT</button>
                </form>
                <div class="register-forget opacity">
                    <a href="/signup">Signup</a>
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>

        {% comment %} <div class="theme-btn-container"></div> {% endcomment %}
    </section>
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
</body>
<!-- partial -->
  <script  src="{% static "script.js" %}"></script>

</body>
</html>
