<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <table border="1px">
            <tr>
                <td>Username</td>
                <td>Password</td> 
                <button>Logout</button>
                <td><button><a href="loginclick">Logout</a></button></td> 
            </tr>
{% comment %} {% if user%}
        <p>{{user}}</p>
{% endif %} {% endcomment %}
{% if userdata %}
            <tr>
                <td>{{userdata}}</td>
                {% comment %} <td>Password}}</td>  {% endcomment %}
            </tr>
{% endif %}
        </table>
    </form>
</body>
</html>