<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
     <form action="" method="POST">
           <table border="1px">
            <tr>
                <td>Name<input type="text" name="Name" placeholder="Enter your Name"></td>
            </tr>
            <tr>
                <td>Email<input type="email" name="email" id=""></td>
            </tr>
            <tr>
                <td align="center"><button type="submit" >Submit</button></td>

            </tr>
           </table>
     </form>
</body>
</html>