{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static " img/favicon.png"%}" rel="icon">
  <link href="{% static " img/apple-touch-icon.png"%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css'%}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/first.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!--  ======= Header ======= -->
  {% include "adminpanelapp/header.html" %}
  <!-- End Header -->

  <!-- ======= Sidebar ======= -->
  {% include "adminpanelapp/sidebar.html" %}
  <!-- End Sidebar-->

      <main id="main" class="main ">
        <div class="pagetitle">
          <h1> Category Form </h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
              <li class="breadcrumb-item active">Product</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
        <section class="section">
          <div class="row">
            <div class="">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">product Form</h5>

                  <!-- Vertical Form -->
                  <form class="row g-3" action="{% url 'product' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12">
                      <input type="hidden" class="form-control" name="id"
                        value="{% if proeditdata %}{{proeditdata.id}}{% endif %}">
                    </div>
                    <div class="col-12">
                      <label for="inputNanme4" class="form-label">Category</label>
                      <select class="form-control" name="Category_id" id="">
                        <option value="">Select Category</option>
                        {% for cat in categorydata %}
                        <option value="{{cat.id}}" {% if proeditdata.category_id.id == cat.id %}selected{% endif %}>
                          {{cat.category_name}}</option>
                        {% endfor %}

                      </select>
                    </div>
                    <div class="col-12">
                      <label for="inputEmail4" class="form-label">Name</label>
                      <input type="text" class="form-control" name="Name"
                        value="{% if proeditdata %}{{proeditdata.product_name}}{% endif %}">
                    </div>
                    <div class="col-12">
                      <label for="inputEmail4" class="form-label">Price</label>
                      <input type="text" class="form-control" name="Price"
                        value="{% if proeditdata %}{{proeditdata.product_price}}{% endif %}">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Photo</label>
                      <input type="file" class="form-control" name="photo">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Discription</label>
                      <textarea type="text" class="form-control" name="Discription"
                        id="inputdiscription">{% if proeditdata %}{{proeditdata.product_discription}}{% endif %}</textarea>
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Available Quantity</label>
                      <input type="text" class="form-control" name="available_qty"
                        value="{% if proeditdata %}{{proeditdata.available_qty}}{% endif %}">
                    </div>
                    <div class="text-center">
                      <button type="submit" name="submit" value="Submit" class="btn btn-primary">Submit</button>
                      <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                  </form><!-- Vertical Form -->

                </div>
              </div>

            </div>
          </div>
        </section>
        <div class="row w-100">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Product Data</h5>
                <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                  <form action="{% url 'product' %}" method="get">
                    <div class="datatable-top">
                      <div class="datatable-dropdown">
                      </div>
                      <div class="datatable-search">
                        <input class="datatable-input" placeholder="Search..." type="search" name="search"
                          value="{{name}}" title="Search within table" oninput="this.form.submit()">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="datatable-container">
                  <table class="table ">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Category</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Photo</th>
                        <th>Discription</th>
                        <th>available_qty</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in productdata %}
                      <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.category_id}}</td>
                        <td>{{i.product_name}}</td>
                        <td>{{i.product_price}}</td>

                        <td>{{i.product_image.url}}</td>
                        <td>{{i.product_discription}}</td>
                        <td>{{i.available_qty}}</td>
                        <td><a href="proedit?proeditid={{i.id}}">Edit</a></td>
                        <td><a href="prodelete?prodelid={{i.id}}">Delete</a></td>

                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- End Table with stripped rows -->
              </div>
            </div>
          </div>
        </div>
      </main>
  <!-- ======= Footer ======= -->
  {% include "adminpanelapp/footer.html" %}
  <!-- End Footer  -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'vendor/chart.js/chart.umd.js'%}"></script>
  <script src="{% static 'vendor/echarts/echarts.min.js'%}"></script>
  <script src="{% static 'vendor/quill/quill.js'%}"></script>
  <script src="{% static 'vendor/simple-datatables/simple-datatables.js'%}"></script>
  <script src="{% static 'vendor/tinymce/tinymce.min.js'%}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>