{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women file</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- start navbar -->
    {% include "header.html" %}
    {% comment %} <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <img src="../static/img/logo-regular-light.jpg" alt="">

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="men.html">Mens</a></li>
                            <li><a class="dropdown-item" href="women.html">Womens</a></li>
                            <li><a class="dropdown-item" href="exclusive.html">Exclusive</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <ul class="left-btn d-flex flex-row justify-content-end mt-3">

                    <li><a href="" class="btn-square  me-2 p-0 "><i class="fa fa-search"
                                style="font-size: 22px;"></i></a>
                    </li>
                    <li><a href="" class="btn-square  me-2 p-0 "><i class="fa fa-heart"
                                style="font-size: 22px;"></i></a></li>
                    <li><a href="" class="btn-square text-red me-2 p-0 "><i class="fa fa-user"
                                style="font-size: 22px;"></i></a></li>
                    <li><a href="" class="btn-square  me-2 "><i class="fa fa-shopping-cart"
                                style="font-size: 22px;"></i></a></li>
                </ul>
            </div>
        </div>
    </nav> {% endcomment %}
    <!-- end navbar -->
    <!-- start section  -->
    <section>
        <!-- main contents -->
        <div class="container-fluid">
            <div class="main-img mt-2">
                <div class="back-aboutimg">
                    <div class="box-contentleft">
                        <div class="title p-0 m-0">
                            <h1 style="color: white; margin-top: 100px;">About us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end main content  -->
        <!-- start about content -->
        <div class="container-fluid mt-5">
            <div class="about-content d-flex flex-column">
                <div class="d-flex flex-wrap ">
                    <div class="w-100">
                        <h1>Our Scented Story</h1>
                    </div>
                    <div class="w-100 mt-5" style="margin: 0px 70px;">
                        <p>Welcome to Inennsa Perfume, where passion for fragrance meets art. Our journey began with a
                            simple idea: to craft scents that tell a story, evoke memories, and inspire emotions. Every
                            bottle we create is a blend of carefully selected ingredients, crafted with precision and
                            love.
                            <br>
                            We believe that fragrance is more than just a scent; it’s an experience, a mood, a
                            statement. Whether you’re looking for something fresh and floral, deep and woody, or
                            completely unique, we’re here to help you find the scent that resonates with you.
                            <br>
                            Thank you for visiting Inennsa Perfume. Let us be part of your journey to discovering your
                            unique fragrance signature.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end about content -->
        <div class="container-fluid">
            <div class="main-img mt-5">
                <div class="back-aboutimg1">
                </div>
            </div>
        </div>
        <!-- start history content -->
        <div class="container-fluid mt-5">
            <div class="histoy d-flex flex-column">
                <div class="row d-flex">
                    <div class="col-6 ">
                        <img class="histry-img" src="../static/img/history-img.jpg" alt="">
                    </div>
                    <div class="col-6 ">
                       <div class="w-100 h-subtitle">
                        <p>Since 1996</p>
                       </div>
                       <div class="w-100 mt-4 mb-4">
                        <h1>History</h1>
                       </div>
                       <div class="w-100" style="text-align:left;" >
                        <p>Founded in 1996, Innensa Perfume was born out of a desire to redefine the world of fragrance. Our founder, [Founder’s Name], was inspired by [a personal story, an experience, or a particular moment that led to the brand's creation—e.g., travels, memories, love for nature, etc.]. From humble beginnings, we started with a few handcrafted scents, each telling a unique story and designed to evoke powerful emotions. Over the years, our dedication to quality and artistry has helped us grow and share our passion for perfume with a wider audience.</p>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- end history content -->
     <!-- start mission content -->
     <div class="container-fluid mt-2">
        <div class="histoy d-flex flex-column">
            <div class="row d-flex">
                <div class="col-6 ">
                    <div class="w-100 h-subtitle">
                     <p>we are visionaries</p>
                    </div>
                    <div class="w-100 mt-4 mb-4">
                     <h1>Mission</h1>
                    </div>
                    <div class="w-100" style="text-align:left;" >
                     <p>At Innensa Perfume, our mission is simple: to create fragrances that enhance life’s moments and help people express their individuality. We believe that every scent has the power to capture memories, transform moods, and reveal something special about who we are. Guided by integrity, sustainability, and creativity, we aim to bring high-quality, thoughtfully crafted perfumes to fragrance lovers everywhere.</p>
                    </div>
                 </div>
                <div class="col-6 ">
                    <img class="histry-img" src="../static/img/mission-img.jpg" alt="">
                </div>
               
            </div>
        </div>
    </div>
    <!-- end mission content -->
    </section>
    <!-- end section -->

    <!-- start footer -->
    {% include "footer.html" %}
    {% comment %} <footer>
        <div class="container-fluid">
            <div class="footer-content d-flex mt-5" style="background-color:black">
                <div class="row w-100 flex-wrap d-flex">
                    <div class="col-3 d-flex flex-wrap">
                        <div class="footer-logo w-100 ">
                            <img class="mt-5" src="../static/img/logo-regular-dark.png" alt="">
                        </div>
                        <div class="w-100  footer-icon">
                            <ul class="d-flex  justify-content-left  ">
                                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href=""></a><i class="fa-brands fa-linkedin"></i></li>
                                <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 d-flex flex-wrap justify-content-center ">
                        <div class="footer-title mt-5">
                            <h5>customer care</h5>
                        </div>
                        <div>
                            <p>Need help? We’re always
                                <br> here for you, and ready to
                                <br>help.
                            </p>
                        </div>
                        <div>
                            <p
                                class="has-ast-global-color-5-color has-text-color has-link-color wp-elements-0e207f80e442a329661df56298fe4c34">
                                <strong>E:</strong> <a href="#">innesa@example.com</a><br><strong>P:</strong>
                                9574445611<br><strong>A:</strong> 88 Shriji Park, Katargam<br> Surat, 395004
                            </p>
                        </div>
                    </div>
                    <div class="col-3 d-flex flex-wrap justify-content-center">
                        <div class="footer-title mt-5  w-100" style="text-align: center;">
                            <h5>Category</h5>
                        </div>
                        <div class=" footer-subtitle">
                            <ul>
                                <li><a href="">Women</a></li>
                                <li><a href="">Men</a> </li>
                                <li><a href="">Exclusive</a> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-3 d-flex flex-wrap justify-content-center">
                        <div class="footer-title mt-5  w-100" style="text-align: center;">
                            <h5>Help</h5>
                        </div>
                        <div class=" footer-subtitle ">
                            <ul>
                                <li><a href="">Track Order</a></li>
                                <li><a href="">Returns</a> </li>
                                <li><a href="">Shipping</a> </li>
                                <li><a href="">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> {% endcomment %}

    <link rel="stylesheet" href="{% static 'js/bootstrap.bundle.js' %}">

</body>

</html>