<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Women file</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <!-- start navbar -->
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <img src="../static/img/logo-regular-light.jpg" alt="">

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="men.html">Mens</a></li>
                            <li><a class="dropdown-item" href="women.html">Womens</a></li>
                            <li><a class="dropdown-item" href="exclusive.html">Exclusive</a></li>
                        </ul>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <ul class="left-btn d-flex flex-row justify-content-end mt-3">
                  
                    <li><a href="" class="btn-square  me-2 p-0 "><i class="fa fa-search" style="font-size: 22px;"></i></a>
                    </li>
                    <li><a href="" class="btn-square  me-2 p-0 "><i class="fa fa-heart" style="font-size: 22px;"></i></a></li>
                    <li><a href="" class="btn-square text-red me-2 p-0 "><i class="fa fa-user" style="font-size: 22px;"></i></a></li>
                    <li><a href="" class="btn-square  me-2 "><i class="fa fa-shopping-cart" style="font-size: 22px;"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end navbar -->
    <!-- start section  -->
    <section>
        <!-- main contents -->
        <div class="container-fluid">
            <div class="main-img mt-2">
                <div class="back-mainimg">
                    <div class="box-contentleft">
                        <div class="title p-0 m-0">
                            <a href="index.html" style="text-decoration: none; color: black;">Home</a>&nbsp;/&nbsp;Blog
    
                            <h1>Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end main content  -->
        <!-- start selling item -->
        <div class="container-fluid mt-5">
            <div class="blog-content d-flex flex-column" >
                <div class="b-content d-flex mt-3 flex-wrap justify-content-evenly">
                    <div class="b-item " style="background-color: pink;">
                        <div class="element w-100">
                            <a href="#"> <img src="../static/img/blog-img1.jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                            <h6>The Art of Finding Your Signature Scent”</h6>
                        </div>
                    </div>
                    <div class="b-item " style="background-color: pink;">
                        <div class="element w-100">
                            <a href="#"> <img src="../static/img/women-perfume1 (2).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                            <h6> How Perfume Affects Mood and Emotion</h6>
                        </div>
                    </div>
                    <div class="b-item " style="background-color: pink;">
                        <div class="element w-100">
                            <a href="#"> <img src="../static/img/women-perfume1 (2).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                            <h6>Choosing Fragrance Families That Last Longer</h6>
                        </div>
                    </div>
                    <div class="b-item " style="background-color: pink;">
                        <div class="element w-100">
                            <a href="#"> <img src="../static/img/women-perfume1 (2).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                            <h6>Top Fragrance Trends of the Year</h6>
                        </div>
                    </div>
                    <div class="b-item ">
                        <div class="element w-100">
                            <a href="#"> <img src="../static/img/blog-img6.jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                            <h6>The Art of Wearing Perfume</h6>
                        </div>
                    </div>
                    <div class="b-item ">
                        <div class="element w-100">
                            <a href="#"> <img src="../static/img/blog-img5.jpg " alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                            <h6>Creating Your Unique Fragrance</h6>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- end selling item -->
    </section>
    <!-- end section -->

    <!-- start footer -->
    <footer>
        <div class="container-fluid">
            <div class="footer-content d-flex mt-5" style="background-color:black">
                <div class="row w-100 flex-wrap d-flex">
                    <div class="col-3 d-flex flex-wrap">
                        <div class="footer-logo w-100 ">
                            <img class="mt-5" src="../static/img/logo-regular-dark.png" alt="">
                        </div>
                        <div class="w-100  footer-icon">
                            <ul class="d-flex  justify-content-left  ">
                                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href=""></a><i class="fa-brands fa-linkedin"></i></li>
                                <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 d-flex flex-wrap justify-content-center ">
                        <div class="footer-title mt-5">
                            <h5>customer care</h5>
                        </div>
                        <div>
                            <p>Need help? We’re always
                                <br> here for you, and ready to
                                <br>help.
                            </p>
                        </div>
                        <div>
                            <p
                                class="has-ast-global-color-5-color has-text-color has-link-color wp-elements-0e207f80e442a329661df56298fe4c34">
                                <strong>E:</strong> <a href="#">innesa@example.com</a><br><strong>P:</strong>
                                9574445611<br><strong>A:</strong> 88 Shriji Park, Katargam<br> Surat, 395004
                            </p>
                        </div>
                    </div>
                    <div class="col-3 d-flex flex-wrap justify-content-center">
                        <div class="footer-title mt-5  w-100" style="text-align: center;">
                            <h5>Category</h5>
                        </div>
                        <div class=" footer-subtitle">
                            <ul>
                                <li><a href="">Women</a></li>
                                <li><a href="">Men</a> </li>
                                <li><a href="">Exclusive</a> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-3 d-flex flex-wrap justify-content-center">
                        <div class="footer-title mt-5  w-100" style="text-align: center;">
                            <h5>Help</h5>
                        </div>
                        <div class=" footer-subtitle ">
                            <ul>
                                <li><a href="">Track Order</a></li>
                                <li><a href="">Returns</a> </li>
                                <li><a href="">Shipping</a> </li>
                                <li><a href="">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <link rel="stylesheet" href="../static/js/bootstrap.bundle.js">

</body>

</html>