{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart file</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

</head>

<body>
    <!-- start navbar -->
    {% include "header.html" %}
    <!-- end navbar -->
    <!-- start section  -->
    <section>
        <!-- main contents -->
        <div class="container-fluid">
            <div class="main-img mt-2">
                <div class="back-mainimg">
                    <div class="box-contentleft">
                        <div class="title p-0 m-0">
                            <a href="index.html" style="text-decoration: none; color: black;">Home</a>&nbsp;/&nbsp;Cart
    
                            <h1>Cart</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end main content  -->
        <!-- start selling item -->
        <div class="container-fluid mt-5">
         <div class="container cart-item">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="product-thumbnail">Image</th>
                        <th class="product-name">Product</th>
                        <th class="product-price">Price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-total">Total</th>
                        <th class="product-remove">Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                {% for i in  cart_data %}
                                        <tr>
                        <td class="product-thumbnail">
                          <img src="{{i.product_id.product_image.url}}" alt="Image" class="img-fluid">
                        </td>
                        <td class="product-name">
                          <h2 class="h5 text-black">{{i.product_id.product_name}}</h2>
                        </td>
                        <td>${{i.product_id.product_price}}</td>
                        <td>
                          <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                            <div class="input-group-prepend">
                              <button class="btn btn-outline-black decrease" type="button"><a style="text-decoration: none;" href="quantity?itemid={{i.id}}&actionid=decrease" >&minus;</a></button>
                            </div>
                            <input type="text" class="form-control text-center quantity-amount"value="{{i.quantity  }}" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                            <div class="input-group-append">
                              <button class="btn btn-outline-black increase" type="button"><a style="text-decoration: none;" href="quantity?itemid={{i.id}}&actionid=increase">&plus;</a></button>
                            </div>
                          </div>
      
                        </td>
                        <td>${{i.total}}</td>
                        <td><a href="/delete?deleteid={{i.id}}" class="btn btn-black btn-sm">X</a></td>
                      </tr>
                {% endfor %}
                    </tbody>
                  </table>
                </div>
              </form>
         </div>
        </div>
        <div class="container cart-total mt-4   ">
            <div class="col-md-12 pl-5">
                <div class="row justify-content-end">
                  <div class="col-md-7">
                    <div class="row">
                      <div class="col-md-12 text-right border-bottom mb-5">
                        <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        <span class="text-black">Subtotal</span>
                      </div>
                      <div class="col-md-6 text-right">
                        <strong class="text-black">${{grand_total}}</strong>
                      </div>
                    </div>
                     <div class="row mb-5">
                      <div class="col-md-6">
                        <span class="text-black">Total</span>
                      </div>
                      <div class="col-md-6 text-right">
                        <strong class="text-black">${{grand_total}}</strong>
                      </div>
                    </div>
      
                    <div class="row">
                      <div class="col-md-12">
                        <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='checkoutdata'">Proceed To Checkout</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- end selling item -->
    </section>
    <!-- end section -->

    <!-- start footer -->
    {% include "footer.html" %}
    {% comment %} <footer>
        <div class="container-fluid">
            <div class="footer-content d-flex mt-5" style="background-color:black">
                <div class="row w-100 flex-wrap d-flex">
                    <div class="col-3 d-flex flex-wrap">
                        <div class="footer-logo w-100 ">
                            <img class="mt-5" src="../static/img/logo-regular-dark.png" alt="">
                        </div>
                        <div class="w-100  footer-icon">
                            <ul class="d-flex  justify-content-left  ">
                                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                                <li><a href=""></a><i class="fa-brands fa-linkedin"></i></li>
                                <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-3 d-flex flex-wrap justify-content-center ">
                        <div class="footer-title mt-5">
                            <h5>customer care</h5>
                        </div>
                        <div>
                            <p>Need help? We’re always
                                <br> here for you, and ready to
                                <br>help.
                            </p>
                        </div>
                        <div>
                            <p
                                class="has-ast-global-color-5-color has-text-color has-link-color wp-elements-0e207f80e442a329661df56298fe4c34">
                                <strong>E:</strong> <a href="#">innesa@example.com</a><br><strong>P:</strong>
                                9574445611<br><strong>A:</strong> 88 Shriji Park, Katargam<br> Surat, 395004
                            </p>
                        </div>
                    </div>
                    <div class="col-3 d-flex flex-wrap justify-content-center">
                        <div class="footer-title mt-5  w-100" style="text-align: center;">
                            <h5>Category</h5>
                        </div>
                        <div class=" footer-subtitle">
                            <ul>
                                <li><a href="">Women</a></li>
                                <li><a href="">Men</a> </li>
                                <li><a href="">Exclusive</a> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-3 d-flex flex-wrap justify-content-center">
                        <div class="footer-title mt-5  w-100" style="text-align: center;">
                            <h5>Help</h5>
                        </div>
                        <div class=" footer-subtitle ">
                            <ul>
                                <li><a href="">Track Order</a></li>
                                <li><a href="">Returns</a> </li>
                                <li><a href="">Shipping</a> </li>
                                <li><a href="">FAQs</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> {% endcomment %}

    <link rel="stylesheet" href="{% static 'js/bootstrap.bundle.js' %}">

</body>

</html>