{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Men file</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

</head>

<body>
    <!-- start navbar -->
    {% include "header.html" %}
    {% comment %} <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <img src="../static/img/logo-regular-light.jpg" alt="">

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Category
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="men.html">Mens</a></li>
                            <li><a class="dropdown-item" href="women.html">Womens</a></li>
                            <li><a class="dropdown-item" href="exclusive.html">Exclusive</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <ul class="left-btn d-flex flex-row justify-content-end mt-3">
                  
                    <li><a href="" class="btn-square  me-2 p-0 "><i class="fa fa-search" style="font-size: 22px;"></i></a>
                    </li>
                    <li><a href="" class="btn-square  me-2 p-0 "><i class="fa fa-heart" style="font-size: 22px;"></i></a></li>
                    <li><a href="" class="btn-square text-red me-2 p-0 "><i class="fa fa-user" style="font-size: 22px;"></i></a></li>
                    <li><a href="" class="btn-square  me-2 "><i class="fa fa-shopping-cart" style="font-size: 22px;"></i></a></li>
                </ul>
            </div>
        </div>
    </nav> {% endcomment %}
    <!-- end navbar -->
    <!-- start section  -->
    <section>
        <!-- main contents -->
        <div class="container-fluid">
            <div class="main-img mt-2">
                <div class="back-mainimg">
                    <div class="box-contentleft">
                        <div class="title p-0 m-0">
                            <a href="index.html" style="text-decoration: none; color: black;">Home</a>&nbsp;/&nbsp;Women
    
                            <h1>Men</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end main content  -->
        <!-- start selling item -->
        <div class="container-fluid mt-5">
            <div class="selling-content d-flex flex-column">
                <div class="sell-content d-flex mt-3 flex-wrap ">
                    <div class="sel-item">
                        <div class="element w-100">
                            <a href="#"> <img  src="../static/img/men-perfume1 (1).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                            <p>Men</p>
                            <h5 > Bright Light by Yana</h5>
                            <strong>$25.00</strong>
                        </div>
                    </div>
                    <div class="sel-item">
                        <div class="element w-100" >
                            <a href=""><img  src="../static/img/men-perfume2 (1).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Men</p>
                            <h5>Carolina Herrera</h5>
                            <strong>$25.00</strong>
                        </div>
                    </div>
                    <div class="sel-item d-flex flex-wrap">
                        <div class="element w-100">
                            <a href=""><img  src="../static/img/men-perfume3(1).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Men</p>
                            <h5>Valentino</h5>
                            <strong>$23.00</strong>
                        </div>
                    </div>
                    <div class="sel-item">
                        <div class="element w-100">
                            <a href=""> <img src="../static/img/men-perfume 4(1).jpg" alt=""
                                    style="height: 280PX;"></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Men</p>
                            <h5>Green Spray</h5>
                            <strong>$22.00</strong>
                        </div>
                    </div>
                    <div class="sel-item">
                        <div class="element w-100">
                            <a href=""><img   style="height: 280PX;"class="" src="../static/img/men-perfume5.jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Men</p>
                            <h5>Bellavita Ocean Man</h5>
                            <strong>$25.00</strong>
                        </div>
                    </div>
                  
                    <div class="sel-item">
                        <div class="element w-100">
                            <a href=""><img  src="../static/img/men-perfume6 (1).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Men</p>
                            <h5>La French</h5>
                            <strong>$30.00</strong>
                        </div>
                    </div>
                    <div class="sel-item">
                        <div class="element w-100">
                            <a href=""><img  src="../static/img/men-perfume7.png" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Men</p>
                            <h5>Jaguar Fragrance</h5>
                            <strong>$32.00</strong>
                        </div>
                    </div>
                    <div class="sel-item">
                        <div class="element w-100" style="border: 1px;">
                            <a href=""><img  src="../static/img/men-perfume8.jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                            <p >Exclusive</p>
                            <h5 >Dolce & Gabbana</h5>
                            <strong>$35.00</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end selling item -->
    </section>
    <!-- end section -->

    <!-- start footer -->
    {% include "footer.html" %}

    <link rel="stylesheet" href="{% static 'js/bootstrap.bundle.js' %}">

</body>

</html>