 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us file</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <!-- start navbar -->
    {% include "header.html" %}
    <!-- end navbar -->
    <!-- start section  -->
    <section>
        <!-- main contents -->
        <div class="container-fluid">
            <div class="main-img mt-2">
                <div class="back-mainimg">
                    <div class="box-contentleft">
                        <div class="title p-0 m-0">
                            <a href="index.html" style="text-decoration: none; color: black;">Home</a>&nbsp;/&nbsp;Women
    
                            <h1>Women</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end main content  -->
        <!-- start selling item -->
        <div class="container-fluid mt-5">
            <div class="selling-content d-flex flex-column">
                <div class="sell-content d-flex mt-3 flex-wrap ">
                    <div class="sel-item">
                        <div class="element w-100">
                            <a href="#"> <img src="../static/img/women-perfume1 (2).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                            <p>Women</p>
                            <h5 class="">Bright Light by Yana</h5>
                            <strong>$21.00</strong>
                        </div>
                    </div>
                    <div class="sel-item">
                        <div class="element w-100" >
                            <a href=""><img src="../static/img/women-perfume3 (2).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Women</p>
                            <h5>Nina Ricci</h5>
                            <strong>$21.00</strong>
                        </div>
                    </div>
                    <div class="sel-item d-flex flex-wrap">
                        <div class="element w-100">
                            <a href=""><img src="../static/img/women-perfume4 (2).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Women</p>
                            <h5>Evernia</h5>
                            <strong>$22.00</strong>
                        </div>
                    </div>
                    <div class="sel-item">
                        <div class="element w-100">
                            <a href=""> <img  src="../static/img/women-perfume5 (2).jpg" alt=""
                                    style="height: 280PX;"></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Women</p>
                            <h5>Versace Perfume</h5>
                            <strong>$25.00</strong>
                        </div>
                    </div>
                    <div class="sel-item">
                        <div class="element w-100">
                            <a href=""><img   style="height: 280PX;"class="" src="../static/img/women-perfume6 (1).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Women</p>
                            <h5>Vanille De Paris</h5>
                            <strong>$27.00</strong>
                        </div>
                    </div>
                  
                    <div class="sel-item">
                        <div class="element w-100">
                            <a href=""><img  src="../static/img/women-perfume8 (2).jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Women</p>
                            <h5>Coco Chanel</h5>
                            <strong>$30.00</strong>
                        </div>
                    </div>
                    <div class="sel-item">
                        <div class="element w-100">
                            <a href=""><img  src="../static/img/women-perfume9.jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                             <p>Women</p>
                            <h5>Gucci Guilty</h5>
                            <strong>$35.00</strong>
                        </div>
                    </div>
                    <div class="sel-item">
                        <div class="element w-100" style="border: 1px;">
                            <a href=""><img  src="../static/img/women-perfume10.jpg" alt=""></a>
                        </div>
                        <div class="element-text w-100 mt-3">
                            <p >Exclusive</p>
                            <h5 >The Scent Le Parfum</h5>
                            <strong>$110.00</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end selling item -->
    </section>
    <!-- end section -->

    <!-- start footer -->
    {% include "footer.html" %}

    <link rel="stylesheet" href="{% static 'js/bootstrap.bundle.js' %}">

</body>

</html>